body{
    background-color: #F6E5DC;
    font-family: Verdana;
    padding: 0;
    margin: 0;
}
header{
    background-color: #2F180C;
    text-align: center;
    color: khaki;
    height: 60px;
}
#lewa{
    width: 60%;
}
#prawa{
    font-size: 150%;
    padding: 70px;
}
#dolna{
    background-color: #D0B6A8;
    text-align: center;
    padding: 30px;
}
footer{
    background-color: #2F180C;
    color: khaki;
    height: 60px;
}
img{
    height: 350px;
}
button{
    margin: 10px;
    padding: 5px;
    background-color: #2F180C;
    color: khaki;
}
#container{
    display: flex;
}